@import 'ember-paper';
@import 'utilities';
@import 'hero';
@import 'wedding';
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}
body.ember-application,
body > div.ember-view {
  display: flex;
  flex: 1;
  flex-direction: row;
}
#main {
  position: relative;
}
md-toolbar {
  z-index: 300;
}
.md-toolbar-tools a {
  font-weight: 600;
  margin: 0 24px;
  &:first-child {
    margin: 0 0 0 24px;
  }
  &:last-child {
    margin: 0 24px 0 0;
  }
  &:hover {
    opacity: 0.75;
  }
}
.md-toolbar-fixed {
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}
