.images {
  overflow-x: hidden;
  padding: 2px;
}
.images img {
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.wedding {
  background-size: contain;
  height: 100%;
  width: 100%;
}
.wedding-a {
  background-image: url(/assets/images/wedding-a.png);
}
.wedding-b {
  background-image: url(/assets/images/wedding-b.png);
}
.wedding-c {
  background-image: url(/assets/images/wedding-c.png);
}
.wedding-d {
  background-image: url(/assets/images/wedding-d.png);
}
.wedding-e {
  background-image: url(/assets/images/wedding-e.png);
}
.wedding-f {
  background-image: url(/assets/images/wedding-f.png);
}
.wedding-g {
  background-image: url(/assets/images/wedding-g.png);
}
.wedding-h {
  background-image: url(/assets/images/wedding-h.png);
}
.wedding-i {
  background-image: url(/assets/images/wedding-i.png);
}
.wedding-j {
  background-image: url(/assets/images/wedding-j.png);
}
.wedding-k {
  background-image: url(/assets/images/wedding-k.png);
}
.wedding-l {
  background-image: url(/assets/images/wedding-l.png);
}
.wedding-m {
  background-image: url(/assets/images/wedding-m.png);
}
.wedding-n {
  background-image: url(/assets/images/wedding-n.png);
}
.wedding-o {
  background-image: url(/assets/images/wedding-o.png);
}
.wedding-p {
  background-image: url(/assets/images/wedding-p.png);
}
.wedding-q {
  background-image: url(/assets/images/wedding-q.png);
}
.wedding-r {
  background-image: url(/assets/images/wedding-r.png);
}
.wedding-s {
  background-image: url(/assets/images/wedding-s.png);
}
.wedding-t {
  background-image: url(/assets/images/wedding-t.png);
}
