<page>
  <centered fit class='navbar js-navbar'>
    <centered fit class='navbar-item'>
      <a href='#info'>The Details</a>
    </centered>
    <centered fit class='navbar-item'>
      <a href='#info'>The Venue</a>
    </centered>
    <centered fit class='navbar-item'>
      <a href='#info'>Where to Stay</a>
    </centered>
    <centered fit class='navbar-item'>
      <a href='#info'>What to Do</a>
    </centered>
  </centered>
  <div class='hero js-hero'>
    <div class='hero-body'>
      <div class='hero-body-info'>
        <div class='hero-body-info-tint'></div>
        <div class='hero-body-info-content'>
          <h1 class='hero-body-info-content-headline'>Chris & Amanda</h1>
          <h2 class='hero-body-info-content-title'>June 30, 2018 - Hopland, CA</h2>
        </div>
      </div>
    </div>
  </div>
</page>
